In [ ]:
!pip install fosforml 
!pip install fosforio

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
#import seaborn as sns
from scipy.stats.mstats import winsorize
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
import joblib
from fosforml import *
from fosforml.constants import MLModelFlavours
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
df = 'EMPLOYEE_DATASET'

In [4]:
sf_df = my_session.sql("select * from {}".format(df))

In [5]:
df = sf_df.to_pandas()

In [6]:
print(df.isnull().sum())

BIRTH_YEAR                             0
AGE                                    0
QUALIFICATION                          0
ETHNICITY                              0
MARITAL_STATUS                         0
GENDER                                 0
CONTINENT                              0
COUNTRY                                0
STATE                                  0
CITY                                   0
LATITUDE                               0
LONGITUDE                              0
EMPLOYEE_ID                            0
DISTANCE                               0
ROLE                                   0
LINE_OF_BUSINESS                       0
DELIVERY_UNIT                          0
PRACTICE_UNIT                          0
EMPLOYMENT_TYPE                        0
TURNOVER_REASONS                       0
SHIFT                                  0
SALARY_INR                             0
SALARY_RANGE                           0
SALARY_LEVELS                          0
JOB_SATISFACTION                       0
AVERAGE_PERCENTAGE_SALARY_HIKE         0
AVERAGE_PERFORMANCE_RATING             0
OVER_TIME                              0
OVERTIME_HOURS                         0
JOB_STARTDATE                          0
JOB_ENDDATE                       149539
CHURN                                  0
TENURE_MONTHS                          0
dtype: int64

In [7]:
Original_df = df

In [8]:
Employee_df = Original_df.drop(["EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE","AVERAGE_PERCENTAGE_SALARY_HIKE","AVERAGE_PERFORMANCE_RATING","SALARY_RANGE","LATITUDE","LONGITUDE"], axis = 1)

In [9]:
CATEGORICAL_COLUMNS = ["QUALIFICATION","ETHNICITY","MARITAL_STATUS","GENDER","CONTINENT","COUNTRY","STATE","CITY","ROLE","LINE_OF_BUSINESS","DELIVERY_UNIT",
                      "PRACTICE_UNIT","EMPLOYMENT_TYPE","TURNOVER_REASONS","SHIFT","SALARY_LEVELS","JOB_SATISFACTION","OVER_TIME","DISTANCE"]
NUMERICAL_COLUMNS = ["BIRTH_YEAR","AGE","SALARY_INR","OVERTIME_HOURS","TENURE_MONTHS"]
LABEL_COLUMNS = ["CHURN"]
DROPPED_COLUMNS = ["EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE","AVERAGE_PERCENTAGE_SALARY_HIKE","AVERAGE_PERFORMANCE_RATING","SALARY_RANGE","LATITUDE","LONGITUDE"]
OUTPUT_COLUMNS = ["PREDICTION"]

In [10]:
# Filter feature columns
feature_columns = CATEGORICAL_COLUMNS + NUMERICAL_COLUMNS
feature_columns = [col for col in feature_columns if col in Original_df.columns]
LABEL_COLUMNS = [col for col in LABEL_COLUMNS if col in Original_df.columns]
 
# Split data into features and labels
X = Original_df[feature_columns + DROPPED_COLUMNS]
y = Original_df[LABEL_COLUMNS].values.ravel()  # Flatten to 1D array for consistency

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [12]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60000 entries, 4941 to 72612
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   QUALIFICATION                   60000 non-null  object
 1   ETHNICITY                       60000 non-null  object
 2   MARITAL_STATUS                  60000 non-null  object
 3   GENDER                          60000 non-null  object
 4   CONTINENT                       60000 non-null  object
 5   COUNTRY                         60000 non-null  object
 6   STATE                           60000 non-null  object
 7   CITY                            60000 non-null  object
 8   ROLE                            60000 non-null  object
 9   LINE_OF_BUSINESS                60000 non-null  object
 10  DELIVERY_UNIT                   60000 non-null  object
 11  PRACTICE_UNIT                   60000 non-null  object
 12  EMPLOYMENT_TYPE                 60000 non-null  object
 13  TURNOVER_REASONS                60000 non-null  object
 14  SHIFT                           60000 non-null  object
 15  SALARY_LEVELS                   60000 non-null  object
 16  JOB_SATISFACTION                60000 non-null  object
 17  OVER_TIME                       60000 non-null  object
 18  DISTANCE                        60000 non-null  object
 19  BIRTH_YEAR                      60000 non-null  int16
 20  AGE                             60000 non-null  int8
 21  SALARY_INR                      60000 non-null  float64
 22  OVERTIME_HOURS                  60000 non-null  int8
 23  TENURE_MONTHS                   60000 non-null  int16
 24  EMPLOYEE_ID                     60000 non-null  object
 25  JOB_STARTDATE                   60000 non-null  object
 26  JOB_ENDDATE                     30010 non-null  object
 27  AVERAGE_PERCENTAGE_SALARY_HIKE  60000 non-null  int8
 28  AVERAGE_PERFORMANCE_RATING      60000 non-null  int8
 29  SALARY_RANGE                    60000 non-null  object
 30  LATITUDE                        60000 non-null  object
 31  LONGITUDE                       60000 non-null  object
dtypes: float64(1), int16(2), int8(4), object(25)
memory usage: 12.8+ MB

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
 
# Define transformers
categorical_transformer = make_pipeline(
    SimpleImputer(strategy='constant', fill_value='missing'),
    OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
)
 
numerical_transformer = make_pipeline(
    SimpleImputer(strategy='mean'),
    MinMaxScaler(clip=True)
)
 
# Create preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, CATEGORICAL_COLUMNS),
        ('num', numerical_transformer, NUMERICAL_COLUMNS)
    ]
)
 
# Create pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', XGBClassifier())
])

pipeline.fit(X_train, y_train)
result = pipeline.predict(X_test)

In [14]:
result

array([0, 1, 1, ..., 1, 0, 1])

In [15]:
y_pred = pipeline.predict(X_test)
y_prob = pipeline.predict_proba(X_test)

In [16]:
from sklearn.metrics import classification_report, log_loss, roc_auc_score
 
# Check lengths
print("Length of y_test:", len(y_test))
print("Length of y_pred:", len(y_pred))
 
# Print classification report
print(classification_report(y_test, y_pred))
 
# Calculate accuracy
accuracy = sum(y_test == y_pred) / len(y_test)
print("Accuracy:", accuracy)
 
# Calculate additional metrics
log_loss_value = log_loss(y_test, y_prob)
roc_auc = roc_auc_score(y_test, y_prob[:, 1])  # Assuming class 1 is the positive class
 
print("Log Loss:", log_loss_value)
print("ROC AUC Score:", roc_auc)

Length of y_test: 60000
Length of y_pred: 60000
              precision    recall  f1-score   support

           0       0.97      0.68      0.80     29990
           1       0.76      0.98      0.85     30010

    accuracy                           0.83     60000
   macro avg       0.86      0.83      0.83     60000
weighted avg       0.86      0.83      0.83     60000

Accuracy: 0.8314666666666667
Log Loss: 0.37392185983426657
ROC AUC Score: 0.8527787830865315