In [ ]:
!pip install --q imbalanced-learn
!pip install fosforml 
!pip install fosforio
!pip install seaborn

In [1]:
# Statitics and Basic data support
from scipy.stats.mstats import winsorize
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Modeling Training and Tunning
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report,precision_score, recall_score, f1_score,log_loss, roc_auc_score,roc_curve, precision_recall_curve
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

# Imbalance Handling
from imblearn.over_sampling import SMOTE

# Addititional
from collections import Counter
import joblib

# Fosforml
from fosforml import register_model
from fosforml.constants import MLModelFlavours
from fosforml.model_manager.snowflakesession import get_session

# Warnings
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
df = 'EMPLOYEE_DATASET'

In [4]:
sf_df = my_session.sql("select * from {}".format(df))

In [5]:
df = sf_df.to_pandas()

In [6]:
print(df.isnull().sum())

BIRTH_YEAR                             0
AGE                                    0
QUALIFICATION                          0
ETHNICITY                              0
MARITAL_STATUS                         0
GENDER                                 0
CONTINENT                              0
COUNTRY                                0
STATE                                  0
CITY                                   0
LATITUDE                               0
LONGITUDE                              0
EMPLOYEE_ID                            0
DISTANCE                               0
ROLE                                   0
LINE_OF_BUSINESS                       0
DELIVERY_UNIT                          0
PRACTICE_UNIT                          0
EMPLOYMENT_TYPE                        0
TURNOVER_REASONS                       0
SHIFT                                  0
SALARY_INR                             0
SALARY_RANGE                           0
SALARY_LEVELS                          0
JOB_SATISFACTION                       0
AVERAGE_PERCENTAGE_SALARY_HIKE         0
AVERAGE_PERFORMANCE_RATING             0
OVER_TIME                              0
OVERTIME_HOURS                         0
JOB_STARTDATE                          0
JOB_ENDDATE                       149539
CHURN                                  0
TENURE_MONTHS                          0
dtype: int64

In [7]:
Original_df = df

In [8]:
Original_df

,BIRTH_YEAR,AGE,QUALIFICATION,ETHNICITY,MARITAL_STATUS,GENDER,CONTINENT,COUNTRY,STATE,CITY,...,SALARY_LEVELS,JOB_SATISFACTION,AVERAGE_PERCENTAGE_SALARY_HIKE,AVERAGE_PERFORMANCE_RATING,OVER_TIME,OVERTIME_HOURS,JOB_STARTDATE,JOB_ENDDATE,CHURN,TENURE_MONTHS
0,1985,39,Masters Degree,Asian,Single,Female,Asia-Pacific,Australia,Victoria,Melbourne,...,Lead/Managerial Level,High,13,1,No,4,2005-02-15,2012-02-03,1,84
1,1963,61,Associates Degree,Caucasian,Single,Male,North America,Canada,Ontario,Mississauga,...,Lead/Managerial Level,Low,10,1,No,1,2009-04-02,2024-04-16,1,180
2,1993,31,Professional Degree,African American,Single,Male,North America,United States,Georgia,Alpharetta,...,Executive Level,High,15,1,No,7,2018-06-18,None,0,75
3,1969,55,Associates Degree,Caucasian,Married,Female,Asia-Pacific,Singapore,Singapore,Singapore City,...,Senior Level,Medium,11,1,No,16,1997-09-04,None,0,324
4,1997,27,Associates Degree,African,Married,Female,Middle East and Africa,South Africa,Johannesburg,Johannesburg City,...,Executive Level,Low,11,3,Yes,4,2016-07-30,None,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,1970,54,Associates Degree,Asian,Married,Male,Europe,Europe,France,Puteaux,...,Senior Level,High,12,1,No,14,2004-12-05,2009-02-08,1,50
299996,1982,42,Bachelors Degree,Asian,Married,Female,Asia-Pacific,India,Karnataka,Bangalore,...,Senior Level,High,9,4,Yes,14,2014-08-01,2018-05-12,1,45
299997,1998,26,Doctoral Degree,African American,Married,Female,North America,Mexico,Jalisco,Guadalajara,...,Senior Level,Very High,7,3,No,14,2023-02-17,None,0,19
299998,1964,60,Professional Degree,African,Married,Female,Middle East and Africa,South Africa,Johannesburg,Johannesburg City,...,Executive Level,Medium,15,3,No,14,2003-04-04,2005-01-29,1,21
299999,1998,26,Professional Degree,Caucasian,Single,Female,North America,Costa Rica,San Jose,San Jose,...,Executive Level,Low,9,2,No,1,1996-02-09,2005-10-12,1,116

In [9]:
Employee_df = Original_df.drop(["EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE","AVERAGE_PERCENTAGE_SALARY_HIKE","AVERAGE_PERFORMANCE_RATING","SALARY_RANGE","LATITUDE","LONGITUDE"], axis = 1)

In [10]:
CATEGORICAL_COLUMNS = ["QUALIFICATION","ETHNICITY","MARITAL_STATUS","GENDER","CONTINENT","COUNTRY","STATE","CITY","ROLE","LINE_OF_BUSINESS","DELIVERY_UNIT",
                      "PRACTICE_UNIT","EMPLOYMENT_TYPE","TURNOVER_REASONS","SHIFT","SALARY_LEVELS","JOB_SATISFACTION","OVER_TIME","DISTANCE"]
NUMERICAL_COLUMNS = ["BIRTH_YEAR","AGE","SALARY_INR","OVERTIME_HOURS","TENURE_MONTHS"]
LABEL_COLUMNS = ["CHURN"]
DROPPED_COLUMNS = ["EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE","AVERAGE_PERCENTAGE_SALARY_HIKE","AVERAGE_PERFORMANCE_RATING","SALARY_RANGE","LATITUDE","LONGITUDE"]
OUTPUT_COLUMNS = ["PREDICTION"]

In [12]:
# Preprocessing for numerical data
numerical_transformer = StandardScaler()

In [13]:
# Preprocessing for categorical data
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

In [14]:
# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, NUMERICAL_COLUMNS),
        ('cat', categorical_transformer, CATEGORICAL_COLUMNS)
    ])

In [15]:
# Create and train the XGBClassifier model within a pipeline
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('classifier', XGBClassifier())])

In [16]:
# Step 4: Train-Test Split
X = Employee_df[CATEGORICAL_COLUMNS + NUMERICAL_COLUMNS]
y = Employee_df[LABEL_COLUMNS].values.ravel()  # Ensure y is a 1D array

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [17]:
X_train.shape,y_test.shape

((225000, 24), (75000,))

In [20]:
# Train the model
model.fit(X_train, y_train)

# Step 6: Model Evaluation
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1]
log_loss_value = log_loss(y_test, y_pred_proba)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("F1 Score:", f1_score(y_test, y_pred))
print("ROC AUC Score:", roc_auc_score(y_test, y_pred_proba))
print("Log Loss:", log_loss_value)

Accuracy: 0.83192
Precision: 0.755717042328694
Recall: 0.9811833688699361
F1 Score: 0.8538163601363731
ROC AUC Score: 0.8530071677887053
Log Loss: 0.37386876966353866

In [21]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'classifier__n_estimators': [100, 200, 300],
    'classifier__max_depth': [3, 4, 5],
    'classifier__learning_rate': [0.01, 0.1, 0.2],
    'classifier__subsample': [0.8, 0.9, 1.0]
}

In [ ]:
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

In [ ]:
print("Best parameters found: ", grid_search.best_params_)
print("Best cross-validation accuracy: {:.2f}".format(grid_search.best_score_))

In [ ]:
# Use the best model
best_model = grid_search.best_estimator_

In [ ]:
# Evaluate the best model
y_pred = best_model.predict(X_test)
y_pred_proba = best_model.predict_proba(X_test)[:, 1]

In [ ]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("F1 Score:", f1_score(y_test, y_pred))
print("ROC AUC Score:", roc_auc_score(y_test, y_pred_proba))
print("Log Loss:", log_loss(y_test, y_pred_proba))