In [ ]:
!pip install fosforml 
!pip install fosforio

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
#import seaborn as sns
from scipy.stats.mstats import winsorize
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
import joblib
from fosforml import *
from fosforml.constants import MLModelFlavours
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [3]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [4]:
df = 'EMPLOYEE_DATASET'

In [5]:
sf_df = my_session.sql("select * from {}".format(df))

In [6]:
df = sf_df.to_pandas()

In [8]:
print(df.isnull().sum())

BIRTH_YEAR                             0
AGE                                    0
QUALIFICATION                          0
ETHNICITY                              0
MARITAL_STATUS                         0
GENDER                                 0
CONTINENT                              0
COUNTRY                                0
STATE                                  0
CITY                                   0
LATITUDE                               0
LONGITUDE                              0
EMPLOYEE_ID                            0
DISTANCE                               0
ROLE                                   0
LINE_OF_BUSINESS                       0
DELIVERY_UNIT                          0
PRACTICE_UNIT                          0
EMPLOYMENT_TYPE                        0
TURNOVER_REASONS                       0
SHIFT                                  0
SALARY_INR                             0
SALARY_RANGE                           0
SALARY_LEVELS                          0
JOB_SATISFACTION                       0
AVERAGE_PERCENTAGE_SALARY_HIKE         0
AVERAGE_PERFORMANCE_RATING             0
OVER_TIME                              0
OVERTIME_HOURS                         0
JOB_STARTDATE                          0
JOB_ENDDATE                       149539
CHURN                                  0
TENURE_MONTHS                          0
dtype: int64

In [9]:
Original_df = df.dropna()

In [10]:
print(Original_df.isnull().sum())

BIRTH_YEAR                        0
AGE                               0
QUALIFICATION                     0
ETHNICITY                         0
MARITAL_STATUS                    0
GENDER                            0
CONTINENT                         0
COUNTRY                           0
STATE                             0
CITY                              0
LATITUDE                          0
LONGITUDE                         0
EMPLOYEE_ID                       0
DISTANCE                          0
ROLE                              0
LINE_OF_BUSINESS                  0
DELIVERY_UNIT                     0
PRACTICE_UNIT                     0
EMPLOYMENT_TYPE                   0
TURNOVER_REASONS                  0
SHIFT                             0
SALARY_INR                        0
SALARY_RANGE                      0
SALARY_LEVELS                     0
JOB_SATISFACTION                  0
AVERAGE_PERCENTAGE_SALARY_HIKE    0
AVERAGE_PERFORMANCE_RATING        0
OVER_TIME                         0
OVERTIME_HOURS                    0
JOB_STARTDATE                     0
JOB_ENDDATE                       0
CHURN                             0
TENURE_MONTHS                     0
dtype: int64

In [11]:
Employee_df = Original_df.drop(["EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE","AVERAGE_PERCENTAGE_SALARY_HIKE","AVERAGE_PERFORMANCE_RATING","SALARY_RANGE","LATITUDE","LONGITUDE"], axis = 1)

In [ ]:
CATEGORICAL_COLUMNS = ["QUALIFICATION","ETHNICITY","MARITAL_STATUS","GENDER","CONTINENT","COUNTRY","STATE","CITY","ROLE","LINE_OF_BUSINESS","DELIVERY_UNIT",
                      "PRACTICE_UNIT","EMPLOYMENT_TYPE","TURNOVER_REASONS","SHIFT","SALARY_LEVELS","JOB_SATISFACTION","OVER_TIME"]
NUMERICAL_COLUMNS = ["BIRTH_YEAR","AGE","DISTANCE","SALARY_INR","SALARY_RANGE","OVERTIME_HOURS","TENURE_MONTHS"]
LABEL_COLUMNS = ["CHURN"]
DROPPED_COLUMNS = ["EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE","AVERAGE_PERCENTAGE_SALARY_HIKE","AVERAGE_PERFORMANCE_RATING","SALARY_RANGE","LATITUDE","LONGITUDE"]
OUTPUT_COLUMNS = ["PREDICTION"]